/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #f2f2f2;
}

.wrapper {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
}

.tabs {
  position: relative;
  width: 100%;
  height: 40px;
  background: #f2f2f2;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tab {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
  z-index: 2;
}

.tab.active {
  color: #fff;
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  background: #4070f4;
  border-radius: 5px;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tab-content div {
  display: none;
}

.tab-content div.active {
  display: block;
}

.tab-content h4 {
  font-size: 20px;
  margin: 15px 0;
}

.tab-content p {
  text-align: justify;
}
